In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./spam.csv', encoding = 'ISO-8859-1')

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.shape

(5572, 5)

In [5]:
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [6]:
text_processing = list()

In [7]:
for i in range(len(df['v2'])):
    keep_this = re.sub('[^a-zA-Z0-9]', ' ', df['v2'][i])
    lowercase = keep_this.lower()
    splitting = lowercase.split()
    text_processing.append(splitting)

In [8]:
# text_processing

In [9]:
df['v2'] = text_processing

In [10]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"[go, until, jurong, point, crazy, available, o...",NaN,NaN,NaN
1,ham,"[ok, lar, joking, wif, u, oni]",NaN,NaN,NaN
2,spam,"[free, entry, in, 2, a, wkly, comp, to, win, f...",NaN,NaN,NaN
3,ham,"[u, dun, say, so, early, hor, u, c, already, t...",NaN,NaN,NaN
4,ham,"[nah, i, don, t, think, he, goes, to, usf, he,...",NaN,NaN,NaN

In [11]:
corpus = list()

In [12]:
for i in range(len(df['v2'])):
    stemmed = [w for w in df['v2'][i] if w not in set(stopwords.words('english'))]
    joined = ' '.join(stemmed)
    corpus.append(joined)

In [13]:
# corpus

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [15]:
X = tfidf.fit_transform(corpus).toarray()

In [16]:
X.shape

(5572, 8486)

In [17]:
y = df['v1']

In [18]:
y.shape

(5572,)

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [20]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [21]:
model.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [22]:
y_pred = model.predict(X_test)

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.968609865470852

In [24]:
text_1 = "Congratulations. You have won one million dollars. Send OTP to claim the prize."

In [25]:
transformed_text_1 = tfidf.transform([text_1]).toarray()

In [26]:
pred_text_1 = model.predict(transformed_text_1)
pred_text_1

array(['ham'], dtype='<U4')

In [27]:
text_2 = "Meet me today at the desired place. We have to close the deal."

In [28]:
transformed_text_2 = tfidf.transform([text_2]).toarray()

In [29]:
pred_text_2 = model.predict(transformed_text_2)

In [30]:
pred_text_2

array(['ham'], dtype='<U4')

In [31]:
from joblib import dump

In [33]:
!mkdir savedModels
dump(tfidf, './savedModels/tfidf.joblib')

['./savedModels/tfidf.joblib']

In [34]:
dump(model, './savedModels/model.joblib')

['./savedModels/model.joblib']